name: Markdownlint Action
on: push

jobs:
  build:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
    - uses: nosborn/github-action-markdown-cli@v3.5.0
      name: Markdownlint
      with:
        files: .
        config_file: ".markdownlint.json"
